<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Permission required for sending email intents -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Group_11_Project_App_SEG2105"
        tools:targetApi="31">

        <!-- Login Activity is now launcher -->
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Registration screens -->
        <activity
            android:name=".RegistrationActivity"
            android:exported="false"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".TutorRegistrationActivity"
            android:exported="false"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <!-- Role-based welcome screens -->
        <activity android:name=".WelcomeStudentActivity" android:exported="false" />
        <activity android:name=".WelcomeTutorActivity" android:exported="false" />
        <activity android:name=".WelcomeAdminActivity" android:exported="false" />
        <activity android:name=".MainActivity" android:exported="false" />

        <!-- Admin screens -->
        <activity android:name=".admin.AdminInboxActivity" android:exported="false" />
        <activity android:name=".admin.RejectedRequestsActivity" android:exported="false" />

    </application>
</manifest>
